.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  display: grid;
  grid-template-columns: 1fr 2fr 3fr 1fr;
}

menu {
  grid-column: 2 / 3;
  disply: flex;
  flex-direction: column;

}

result {
  grid-column: 3 / 4;
}